<a href="https://colab.research.google.com/github/VEHEMENT2003/Python-Development/blob/main/python_rev.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#TO GREET PARTICULAR NAME

L = ["VRUSHABH","CHAITANYA","SOHAM","SHIVAM","ABHINAV"]

for name in L:
  if(name.startswith("S")):
    print("Hello "+name)
  else:
    print("Bye "+name )

Bye VRUSHABH
Bye CHAITANYA
Hello SOHAM
Hello SHIVAM
Bye ABHINAV

In [ ]:
# print  table using while loop
n = int(input("Enter the number: "))
i = 1

while(i<11):
  print(f"{n}*{i} = {n*i}")
  i+=1

Enter the number: 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [ ]:
#print number in prime or not

n = int(input("Enter the number: "))

for i in range(2,n):
  if(n%i==0):
    print("it is not prime number")
    break

  else:
    print("it is prime number")
    break

Enter the number: 6
it is not prime number

In [ ]:
#to find sum of first natural numbers using while loop
n = int(input("Enter the number: "))

i= 1
sum = 0
while(i<=n):
  sum = sum + i
  i+=1

print(sum)

Enter the number: 5
15

In [ ]:
#write a factorial of a given number using for loop
n = int(input("Enter the number: "))

fact = 1
for i in range(1,n+1):
  fact = fact*i

print(f"factorial {n} is {fact} ")

Enter the number: 5
factorial 5 is 120

In [ ]:
# print equilater trainlge by star pattern
n = int(input("Enter the number: "))

for i in range(1,n+1):
  print(" "*(n-i),end=" ")
  print("*"*(2*i-1),end=" ")
  print(" ")

Enter the number: 5
     *
    ***
   *****
  *******
 *********

In [ ]:
# to print rightangled trialgle
n = int(input("enter no of rows"))

for i in range (1,n+1):
  print("*"*i, end="")
  print("")

enter no of rows4
*
**
***
****

In [ ]:
#Print pgm to print square from star middle of square is blank
n = int(input("Enter the number: "))
for i in range(1,n+1):
  if (i==1 or i==n):
    print("*"* n, end="")
  else:
    print("*",end="")
    print(" "*(n-2),end="")
    print("*",end="")
  print("")

Enter the number: 3
***
* *
***

In [ ]:
# Print a table in reverse order
n = int(input("Enter the number: "))

for i in range(10,0,-1):          #(1,11)
  print(f"{n}*{i} = {n*i}")    #print(f"{n}*{11-i} = {n*(11-i)}")

Enter the number: 5
5*10 = 50
5*9 = 45
5*8 = 40
5*7 = 35
5*6 = 30
5*5 = 25
5*4 = 20
5*3 = 15
5*2 = 10
5*1 = 5

Fuction
it is group of statment performing a separate task

In [ ]:
# fuction
# eg repetedlydoing this nor good practice so provide fuction
'''
a = 12
b = 35
c = 76

average = (a+b+c)/3
print(average)
'''
# defination /  define

 def avg():

41.0